* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#f5f5f5, rgb(218, 215, 215));
}
header {
  height: 120vh;
  background-image: url(../img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  text-align: center;
  position: relative;
}
.unity {
  font-weight: bolder;
  border: 1px solid white;
  text-transform: uppercase;
  width: 100px;
  color: white;
  font-family: sans-serif;
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
  border-radius: 1px;
  letter-spacing: 2px;
  margin: 0 auto;
  position: relative;
}
.unity::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid white;
  position: absolute;
  display: block;
  top: -50px;
  left: 40px;
}
.navigation {
  display: none;
}

header h1 {
  color: goldenrod;
  text-transform: uppercase;
  font-family: Cambria, Cochin;
  font-size: 2.5em;
  letter-spacing: -0.8px;
  padding-bottom: 20px;
  padding-top: 50px;
}
.in_header {
  text-transform: uppercase;
  font-family: Cambria, Cochin;
  font-size: 1.1em;
  letter-spacing: 1.2px;
  color: white;
  font-weight: normal;
  padding: 0 20px;
  margin-bottom: 80px;
}

.square {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  margin: 0 auto;
  border-bottom: none;
}
.scroll {
  text-transform: uppercase;
  color: white;
  font-size: 0.6em;
  font-family: sans-serif;
  margin-top: 1px;
}
.contacts {
  display: none;
}
.lila {
  background-color: rgb(122, 83, 214);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first_square {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: -75px;
  left: 15px;
  font-weight: normal;
}
.white_square {
  width: 170px;
  height: 170px;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
}
.invites {
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.invent {
  color: white;
  text-transform: uppercase;
  font-size: 0.6em;
}
.first {
  font-size: 5em;
  letter-spacing: -0.2em;
  color: rgb(240, 180, 68);
  position: relative;
  bottom: -20px;
  left: -15px;
}
.brushes img {
  width: 80px;
  object-position: center;
  object-fit: cover;
  position: relative;
  left: -40px;
  bottom: -20px;
  transform: rotate(-30deg);
}
.complexity {
  color: white;
  font-size: 2.5em;
  padding-bottom: 30px;
}
.complex {
  padding: 0 20px;
}
.content {
  color: white;
  font-family: sans-serif;
  font-size: 0.7em;
  padding-bottom: 30px;
  letter-spacing: 1.2px;
  line-height: 2em;
}
.icons_white {
  width: 25px;
  height: 25px;
}
.card_title {
  color: rgb(207, 151, 9);
  text-transform: uppercase;
  letter-spacing: -0.8px;
  font-weight: bold;
  padding-top: 10px;
}
.card_text {
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  line-height: 2em;
  padding-bottom: 25px;
}
.grey {
  width: 100%;
  padding-top: 80%;
  position: relative;
}
.grey_fhoto {
  background-image: url(../img/3.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.shadow {
  padding: 20px 10px 0 10px;
  font-size: 2.7em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: rgba(128, 128, 128, 0.436);
}
.we_love {
  text-align: center;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  position: relative;
  top: -40px;
}
.world {
  font-family: sans-serif;
  text-align: center;
  padding: 0 10px;
  position: relative;
  top: -45px;
  font-size: 0.5em;
}
.big_circle {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(128, 128, 128, 0.436);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: -40px;
}
.small_circle,
.small_circle2 {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(128, 128, 128, 0.436);
  background-color: #f5f5f5b7;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  top: -120px;
}
.small_circle2 {
  width: 40px;
  height: 40px;
  top: -170px;
}
.triangle {
  width: 30px;
  border: 15px solid transparent;
  border-left: 15px solid black;
  margin: 0 auto;
  position: relative;
  top: -205px;
  left: 10px;
}

.second_square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: -75px;
  left: -5px;
  font-weight: normal;
}
.black_square {
  width: 170px;
  height: 170px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
}
.details {
  color: black;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: right;
}
.network {
  color: black;
  text-transform: uppercase;
  font-size: 0.6em;
  text-align: right;
}
.second {
  font-size: 5em;
  letter-spacing: -0.05em;
  color: rgb(240, 180, 68);
  position: relative;
  bottom: -20px;
}
.brushes2 img {
  width: 80px;
  object-position: center;
  object-fit: cover;
  position: relative;
  left: 20px;
  bottom: -20px;
  transform: rotate(-30deg);
}
.black_square3 {
  width: 170px;
  height: 170px;
  border: 5px solid black;
  margin: 0 20px;
  position: relative;
}
.third_fhoto {
  height: 140px;
  width: 220px;
  background-image: url(../img/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 35px;
  top: -155px;
}
.third_lila {
  height: 90px;
  width: 180px;
  background-color: rgb(122, 83, 214);
  position: relative;
  left: 160px;
  top: -270px;
}
.what {
  text-transform: uppercase;
  color: rgb(207, 151, 9);
  padding: 5px;
}
.although {
  color: white;
  font-size: 0.6em;
  padding: 5px;
}
.three {
  font-size: 5em;
  letter-spacing: -0.1em;
  color: black;
  position: relative;
  top: -320px;
  left: 270px;
}
.options {
  padding: 0 20px;
  margin-top: -200px;
}
.option {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid gainsboro;
}
.option img {
  width: 20px;
  height: 20px;
}
.opti {
  text-transform: uppercase;
  font-weight: bold;
}
.four {
  padding-top: 200%;
  width: 100%;
  position: relative;
}
.fourth_block {
  background-image: url(../img/5.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -0;
  left: 0;
  margin-top: -100px;
}
.global_company {
  text-transform: uppercase;
  font-size: 1.7em;
  position: relative;
  text-align: center;
  top: 20px;
  padding: 0 30px;
}
.we_help {
  text-transform: uppercase;
  padding: 0 30px;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 0;
  margin-top: 30px;
}
.icon_linie {
  width: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  top: 5px;
}
.customers {
  text-align: center;
  font-size: 0.8em;
  position: relative;
  top: 10px;
}
.card_customer {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  background-color: #f5f5f5;
  font-size: 0.9em;
  gap: 30px;
  border-radius: 2px;
}
.card_customer:nth-child(2) {
  background-color: rgb(122, 83, 214);
  box-shadow: 5px 5px 7px 3px #5f5f5f;
}
.name2,
.sity2 {
  color: rgb(207, 151, 9);
  font-weight: bold;
  margin: 5px auto;
}
.cards_customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.circle_fhoto1,
.circle_fhoto2,
.circle_fhoto3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url(../img/6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stars {
  margin-top: 15px;
}
.name {
  font-weight: bold;
  margin: 5px auto;
}
.circle_fhoto2 {
  background-image: url(../img/7.jpg);
}
.circle_fhoto3 {
  background-image: url(../img/8.jpg);
}
footer {
  background-color: #1e1e1e;
  color: #f5f5f5;
}
.number,
.email {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer {
  font-family: sans-serif;
  padding: 20px;
}
.number img,
.email img {
  width: 35px;
}
.logo {
  border: 1px solid white;
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 5px;
  width: 90px;
  margin: 0 auto;
  text-align: center;
}
.title_abaut,
.news,
.blog {
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.fhoto_abaut img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}
.text_abaut,
.info_news {
  font-size: 0.8em;
  line-height: 2em;
  letter-spacing: 1.5px;
}
.email_wrapper {
  margin: 20px 0 10px;
}
#email {
  background-color: #1e1e1e;
  color: #f5f5f5;
  padding: 5px;
  border: 1px solid #f5f5f5;
}
.new .button {
  color: #f5f5f5;
  background-color: rgb(122, 83, 214);
  font-size: 0.8em;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}
.info_fhoto img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.info_fhoto {
  width: 100px;
}
.info1 {
  font-size: 0.7em;
}
.btn .button {
  border: none;
  text-decoration: none;
  font-size: 0.7em;
  cursor: pointer;
}
.info_blog {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.blog {
  margin-bottom: 30px;
}
.socials {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.socials img {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 481px) {
  .white_square,
  .black_square,
  .black_square3 {
    width: 250px;
    height: 250px;
    border: 7px solid white;
    padding: 10px;
  }
  .black_square,
  .black_square3 {
    border: 7px solid black;
  }
  .first_square {
    top: -125px;
    left: 15px;
  }
  .second_square {
    top: -120px;
  }
  .second {
    color: black;
    font-size: 7em;
  }
  .invites,
  .details {
    font-size: 1.5em;
    padding-bottom: 10px;
  }
  .invent,
  .network {
    font-size: 0.8em;
  }
  .complex {
    padding: 0 50px;
  }
  .card_text {
    padding-bottom: 50px;
  }

  .shadow {
    padding: 30px 10px 0 10px;
    font-size: 4em;
  }
  .we_love {
    font-size: 1.5em;
    top: -60px;
  }
  .world {
    font-size: 0.6em;
    padding: 0 100px;
    top: -65px;
  }
  .big_circle {
    width: 150px;
    height: 150px;
    top: -50px;
  }
  .small_circle,
  .small_circle2 {
    width: 80px;
    height: 80px;
    top: -165px;
  }
  .small_circle2 {
    width: 50px;
    height: 50px;
    top: -230px;
  }
  .triangle {
    top: -270px;
  }
  .third_fhoto {
    height: 200px;
    width: 300px;
    left: 40px;
    top: -225px;
  }
  .third_lila {
    height: 115px;
    width: 225px;
    left: 240px;
    top: -380px;
    padding: 10px;
  }
  .what {
    font-size: 1.2em;
    padding-bottom: 0;
  }
  .although {
    font-size: 0.6em;
    letter-spacing: 1.1px;
  }
  .three {
    font-size: 7em;
    top: -430px;
    left: 360px;
  }
  .options {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .global_company {
    top: 50px;
  }
  .we_help {
    top: 30px;
  }
  .icon_linie {
    top: 40px;
  }
  .customers {
    font-size: 0.9em;
    top: 50px;
  }
  .card_customer {
    padding: 20px;
    font-size: 1em;
    gap: 15px;
    flex-direction: column;
    width: 48%;
    align-items: center;
  }
  .cards_customers {
    flex-direction: row;
    margin-top: 70px;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-between;
  }
  .circle_fhoto1,
  .circle_fhoto2,
  .circle_fhoto3 {
    width: 100px;
    height: 100px;
  }
  .card_customer:nth-child(2) {
    order: 1;
    flex-direction: row;
    width: 100%;
  }
  .four {
    padding-top: 165%;
  }
  footer {
    padding: 20px 40px;
  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
  .unity::after {
    display: none;
  }
  .author,
  .button {
    color: white;
    text-decoration: none;
  }
  .button {
    padding-right: 10px;
  }
  .contacts {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 0.4em;
    font-family: sans-serif;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    transform-origin: top right;
    position: absolute;
    right: 40px;
    top: 130px;
    align-items: center;
  }
  .socials {
    display: flex;
    align-items: center;
  }
  .icons {
    background-color: goldenrod;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .phone {
    color: white;
    font-size: 0.7em;
  }
  .icons::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: goldenrod;
    display: block;
    position: absolute;
    right: -130px;
  }
  .navigation {
    display: block;
  }
  .navigation ul {
    display: flex;
    color: white;
    padding-top: 30px;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    gap: 30px;
    font-size: 0.6em;
    font-family: sans-serif;
    letter-spacing: 2px;
    padding-bottom: 100px;
  }
  .navi {
    text-decoration: none;
    color: white;
  }
  header h1 {
    padding-top: 0;
  }
  .in_header {
    padding: 0 50px;
    margin-bottom: 50px;
  }
  .white_square,
  .black_square,
  .black_square3 {
    width: 350px;
    height: 350px;
    border: 8px solid white;
    padding: 20px;
  }
  .black_square,
  .black_square3 {
    border: 8px solid black;
  }
  .first_square {
    top: -170px;
  }
  .second_square {
    top: -170px;
  }
  .invites,
  .details {
    font-size: 2em;
    padding-bottom: 15px;
  }
  .invent,
  .network {
    font-size: 0.9em;
  }
  .first,
  .second {
    font-size: 8em;
    bottom: -30px;
  }
  .brushes img {
    width: 120px;
    left: -45px;
  }
  .brushes2 img {
    width: 120px;
    right: 60px;
  }
  .complex {
    margin: 0 100px;
    margin-top: -70px;
  }
  .complex1 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
  }
  .complexity {
    font-size: 3.2em;
    line-height: 1em;
  }
  .content {
    display: flex;
    align-items: center;
    font-size: 0.8em;
  }
  .card {
    width: 30%;
  }
  .complex2 {
    display: flex;
    justify-content: space-between;
  }
  .shadow {
    padding: 120px 20px 0 20px;
    font-size: 6.5em;
  }
  .we_love {
    font-size: 2em;
    top: -90px;
  }
  .world {
    padding: 0 200px;
    top: -90px;
    font-size: 0.7em;
  }
  .big_circle {
    top: -70px;
  }
  .small_circle {
    top: -185px;
  }
  .small_circle2 {
    top: -250px;
  }
  .triangle {
    top: -290px;
  }
  .third_fhoto {
    height: 300px;
    width: 400px;
    left: 40px;
    top: -325px;
  }
  .third_lila {
    height: 160px;
    width: 300px;
    left: 280px;
    top: -555px;
    padding: 15px;
  }
  .what {
    font-size: 1.4em;
  }
  .although {
    font-size: 0.8em;
    letter-spacing: 1.2px;
  }
  .three {
    font-size: 8em;
    top: -490px;
    left: 470px;
  }
  .options {
    padding: 0 20px;
  }
  .option img {
    width: 32px;
    height: 32px;
  }
  .opti {
    font-size: 1.5em;
  }
  .global_company {
    top: 150px;
    font-size: 2em;
  }
  .we_help {
    top: 130px;
    font-size: 1.2em;
  }
  .icon_linie {
    top: 170px;
  }
  .customers {
    font-size: 1.2em;
    top: 190px;
  }
  .card_customer {
    padding: 20px;
    font-size: 1em;
    gap: 15px;
    flex-direction: column;
    width: 48%;
    align-items: center;
  }
  .cards_customers {
    flex-direction: row;
    margin-top: 240px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
  }
  .circle_fhoto1,
  .circle_fhoto2,
  .circle_fhoto3 {
    width: 100px;
    height: 100px;
  }
  .card_customer:nth-child(2) {
    order: 1;
    flex-direction: column;
    width: 48%;
  }
  .four {
    padding-top: 140%;
  }
  .phone2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
  }
  footer {
    padding: 20px;
  }
  .number,
  .email {
    gap: 15px;
  }
  .number img,
  .email img {
    width: 25px;
  }
  .logo {
    font-size: 1.5em;
  }
  .title_abaut,
  .news,
  .blog {
    margin-top: 30px;
  }
  .fhoto_abaut {
    width: 80%;
  }
  .email_wrapper {
    margin: 40px 0 40px;
  }
  .abaut_us {
    display: flex;
    align-items: center;
  }
  .info1 {
    font-size: 0.7em;
  }
  .btn .button {
    color: blueviolet;
  }
  .new_blog {
    display: flex;
    justify-content: space-between;
  }
  .new {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .wrapper {
    max-width: 1280px;
  }
  .shadow {
    padding: 100px 20px 0 20px;
    font-size: 10em;
  }
  .we_love {
    font-size: 3em;
    top: -130px;
  }
  .world {
    padding: 0 400px;
    top: -130px;
    font-size: 0.8em;
  }

  .big_circle {
    width: 200px;
    height: 200px;
    top: -120px;
  }
  .small_circle,
  .small_circle2 {
    width: 110px;
    height: 110px;
    top: -275px;
  }
  .small_circle2 {
    width: 60px;
    height: 60px;
    top: -360px;
  }
  .triangle {
    width: 30px;
    border: 15px solid transparent;
    border-left: 15px solid black;
    top: -405px;
    left: 10px;
  }
  .third_fhoto {
    height: 300px;
    width: 400px;
    left: 40px;
    top: -325px;
  }
  .third_lila {
    height: 160px;
    width: 300px;
    left: 280px;
    top: -555px;
    padding: 15px;
  }
  .what {
    font-size: 1.5em;
    font-weight: bold;
  }
  .third_block {
    display: flex;
  }
  .although {
    font-size: 0.9em;
    letter-spacing: 2px;
  }
  .three {
    font-size: 8em;
    top: -550px;
    left: 470px;
  }
  .options {
    padding: 0 20px;
    flex-direction: column;
    width: 40%;
    gap: 0;
    position: relative;
    left: 200px;
    top: -225px;
    margin-top: 0;
    justify-content: center;
  }
  .option img {
    width: 32px;
    height: 32px;
  }
  .opti {
    font-size: 1.5em;
  }
  .global_company {
    top: 450px;
    font-size: 3em;
  }
  .we_help {
    top: 430px;
    font-size: 1.5em;
  }
  .icon_linie {
    top: 470px;
  }
  .customers {
    font-size: 1.7em;
    top: 490px;
  }
  .card_customer {
    padding: 20px;
    font-size: 1.3em;
    gap: 20px;
    width: 31%;
  }
  .cards_customers {
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    margin-top: 900px;
  }
  .circle_fhoto1,
  .circle_fhoto2,
  .circle_fhoto3 {
    width: 150px;
    height: 150px;
  }
  .card_customer:nth-child(2) {
    order: 0;
    flex-direction: column;
    width: 31%;
  }
  .four {
    margin-top: -300px;
    padding-top: 145%;
  }
  footer {
    padding: 20px 50px;
  }
  .abaut_new_blog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .logo {
    font-size: 2em;
    width: 120px;
  }
  .fhoto_abaut {
    width: 90%;
  }
  .abaut_us {
    display: flex;
    align-items: flex-start;
  }
  .title_abaut,
  .news,
  .blog {
    margin-top: 0;
  }
  .new {
    width: 30%;
  }
  .abaut {
    display: flex;
    width: 70%;
  }
  .abaut2 {
    padding-top: 25px;
  }
}
